# Welcome to our third Lab Practice!

This lab is all about defining functions with return values. Are you ready? Let's get started!

You will find some small tasks in sections below. After defining functions, call them to test.

## Define functions with return numeric values.

###Task: define a function that return the absolute value of *n*, where *n* is a parameter

In [1]:
def abs(n):
    if n < 0: return -n
    else: return n

print(abs(-7))
print(abs(4))

7
4

###Task: define a function that return the product value of *n* and *m*, where *n, m* are parameters

In [4]:
def product(n, m):
    return  n * m

print(product(23, 7))
print(product(2, 5))

161
10

###Task: define a function that return the result of raise *n* to the power of *m*, where *n, m* are parameters

In [5]:
def exponentiation(n, m):
    return n ** m

print(exponentiation(3, 3))
print(exponentiation(5, 5))

27
3125

###Task: define a function that return the average of three numbers, *x, y, z*, where *x, y, z* are parameters

In [6]:
def avg_3(x, y, z):
    return (x + y + z) / 3

print(avg_3(10, 10, 10))
print(avg_3(5, 9, 22))

10.0
12.0

###Task: define a function that return the minimal of three numbers, *x, y, z*, where *x, y, z* are parameters

In [7]:
def minimal(x, y, z):
    minimal = None
    for num in (x, y, z):
        if minimal is None: minimal = num
        if num < minimal: minimal = num
    return minimal

print(minimal(33, -7, 12))

-7

###Task: define a function that print sum of integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [9]:
def summing1_to_n(n):
    sum = 0
    for n in range(1, n + 1):
        sum += n
    return sum

print(summing1_to_n(30))
print(summing1_to_n(5))

465
15

## Define functions with return str values.

###Task: define a function that return "hello, *name*" where *name* is a parameter

In [10]:
def hello(name):
    return f'hello, {name}'

print(hello('felipe'))

hello, felipe

###Task: define a function that return "hello world" *n* times, where *n* is a parameter

In [11]:
def hello_times(n):
    result = ''
    for i in range(n):
        result += 'hello world\n'
    return result

print(hello_times(7))

hello world
hello world
hello world
hello world
hello world
hello world
hello world

###Task: define a function that concatenate message 1 and message 2 together and return it

In [12]:
def concatenate(msg1, msg2):
    return msg1 + msg2

print(concatenate('felipe', ' silva'))

felipe silva

## Define functions with return boolean values.

###Task: define a function that return the boolean value for given *n* is even or not, *n* is a parameter

In [13]:
def is_even(n):
    return n % 2 == 0

print(is_even(7))
print(is_even(4))

False
True

###Task: define a function that return the boolean value for given *n* is odd or not, *n* is a parameter

In [17]:
def is_odd(n):
    return not is_even(n)


print(is_odd(7))
print(is_odd(4))

True
False

###Task: define a function that return the boolean value for given *n* is prime number or not, *n* is a parameter

In [18]:
def is_prime(n):
    is_prime = True
    for num in range(2, n):
        if n % num == 0: is_prime = False
    return is_prime

print(is_prime(7))
print(is_prime(12))

True
False

###Task: define a function that return the boolean value for given *n* is positive (>0) or not, *n* is a parameter

In [19]:
def is_positive(n):
    return n > 0

print(is_positive(3))
print(is_positive(-5))
print(is_positive(0))

True
False
False

###Task: define a function that return the boolean value for whether or not given *n* is divisible by 6, *n* is a parameter

In [20]:
def is_divisible_by_6(n):
    return n % 6 == 0

print(is_divisible_by_6(30))
print(is_divisible_by_6(8))

True
False

## Define functions return multiple values.

###Task: define a function that return the min, max, avg, and total of given 3 numbers *x, y, z*, where *x, y, z* are parameters

In [21]:
def mean_values(x, y, z):
    min = None
    for n in (x, y, z):
        if min is None: min = n
        if n < min: min = n

    max =None
    for n in (x, y, z):
        if max is None: max = n
        if n > max: max = n

    avg = (x + y + z) / 3

    return min, max, avg

print(mean_values(10, 10, 10))
print(mean_values(3, -7, 12))

(10, 10, 10.0)
(-7, 12, 2.6666666666666665)