# Scrimba Python 101 - Exercise 10: Sets

**Topic:** Set Operations and Set Theory

This exercise demonstrates Python sets and their operations, including membership testing, union, intersection, difference, and symmetric difference. Also covers converting lists to sets to remove duplicates.

## Key Concepts:
- **Sets:** Unordered collections of unique elements (no duplicates)
- **Membership testing:** `in` operator checks if element exists
- **Union:** Combine sets (all elements from both)
- **Intersection:** Common elements in both sets
- **Difference:** Elements in one set but not the other
- **Symmetric difference:** Elements in either set, but not both
- **Duplicate removal:** Convert list to set, then back to list

# Sets - Exercise

1. Check if ‘Eric’ and ‘John’ exist in friends
2. combine or add the two sets 
3. Find names that are in both sets
4. find names that are only in friends
5. Show only the names who only appear in one of the lists
6. Create a new cars-list without duplicates

In [7]:
friends = {'John', 'Michael', 'Terry', 'Eric', 'Graham'}
my_friends = {'Reg', 'Loretta', 'Colin', 'John', 'Graham'}
cars = ['900','420','V70','911','996','V90','911','911','S','328','900']

## 1. Membership Testing

Check if specific names exist in the `friends` set using the `in` operator.

In [ ]:
# Check individual membership
print('Eric' in friends)   # True - Eric is in the set
print('John' in friends)   # True - John is in the set

# Check if BOTH are in the set using 'and' operator
print('Eric' in friends and 'John' in friends)  # True - both exist

# This checks if the STRING 'John' is in friends (not what we want)
print(('Eric' and 'John') in friends)  # True - 'and' returns 'John', which is in friends

True
True
True
True

## 2. Union - Combine Sets

Combine two sets to get all unique elements from both. Can use `.union()` method or `|` operator.

In [ ]:
# Method 1: .union() method
print(friends.union(my_friends))
# Method 2: | operator (set union)
print(friends | my_friends)
# Both produce same result: all unique names from both sets

{'Graham', 'Michael', 'Colin', 'John', 'Loretta', 'Reg', 'Eric', 'Terry'}
{'Graham', 'Michael', 'Colin', 'John', 'Loretta', 'Reg', 'Eric', 'Terry'}

## 3. Intersection - Common Elements

Find names that appear in BOTH sets. Can use `.intersection()` method or `&` operator.

In [ ]:
# Method 1: .intersection() method
print(friends.intersection(my_friends))
# Method 2: & operator (set intersection)
print(friends & my_friends)
# Result: {'John', 'Graham'} - only names in both sets

{'Graham', 'John'}
{'Graham', 'John'}

## 4. Difference - Elements Only in First Set

Find names that are in `friends` but NOT in `my_friends`. Can use `-` operator or `.difference()` method.

In [ ]:
# Method 1: - operator (set difference)
print(friends - my_friends)
# Method 2: .difference() method
print(friends.difference(my_friends))
# Result: {'Eric', 'Michael', 'Terry'} - only in friends, not in my_friends

{'Michael', 'Eric', 'Terry'}
{'Michael', 'Eric', 'Terry'}

## 5. Symmetric Difference - Elements in Only One Set

Find names that appear in EITHER set, but NOT in both. Can use `^` operator or `.symmetric_difference()` method.

In [ ]:
# Method 1: Manual calculation (union of both differences)
print((friends - my_friends) | (my_friends - friends))
# Method 2: .symmetric_difference() method
print(friends.symmetric_difference(my_friends))
# Method 3: ^ operator (XOR - exclusive or)
print(friends ^ my_friends)
# Result: {'Eric', 'Michael', 'Terry', 'Reg', 'Loretta', 'Colin'} - in one set but not both

{'Loretta', 'Michael', 'Colin', 'Reg', 'Eric', 'Terry'}
{'Colin', 'Michael', 'Reg', 'Terry', 'Eric', 'Loretta'}
{'Colin', 'Michael', 'Reg', 'Terry', 'Eric', 'Loretta'}

## 6. Remove Duplicates from List

Convert a list to a set (removes duplicates), then back to a list.

In [ ]:
# Convert list to set (automatic duplicate removal), then back to list
cars = list(set(cars))

print(cars)  # Output: List with unique car models only
# Note: Order may change since sets are unordered
# Original had: ['900','420','V70','911','996','V90','911','911','S','328','900']
# Result: ['900', '420', 'V70', '911', '996', 'V90', 'S', '328'] (order may vary)

['328', '911', '996', 'V70', '420', 'S', '900', 'V90']