# Welcome to our Lab Practice!

This lab is about repetition - for loops. Are you ready? Let's get started!

You will find some small tasks in sections below.

###Task: Print all even numbers within 20

In [5]:
for n in range(2, 21):
    if n % 2 == 0:
        print(n)

2
4
6
8
10
12
14
16
18
20

### Task: Print all numbers dividble by 5 within 100

In [ ]:
for n in range(101):
    if n % 5 == 0:
        print(n)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

###Task: Print all integers from -5 to 5.

In [7]:
for n in range(-5, 6):
    print(n)

-5
-4
-3
-2
-1
0
1
2
3
4
5

###Task: Print all integers of an interval given by the user

Ask the user to enter two integers and print all integers between (including) them.

In [2]:
n1, n2 = input("Please, enter the interval you want to print [x, y] separated by a space (condition: x < y): ").split()
n1 = int(n1)
n2 = int(n2)

for n in range(n1, n2 + 1):
    print(n)

3
4
5
6
7
8
9
10
11
12